{% extends "core/base.html" %}
{% block content %}
    <div class="container">
        <h1  class="text text-warning border-bottom border-warning pt-4 mt-3">Services</h1>
        <div class="row text-white text-center">
            <div class="col-4">
                <i class="fa-solid fa-magnifying-glass fa-2xl m-3 text-primary"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
            <div class="col-4">
                <i class="fa-brands fa-webflow fa-2x m-3 m-3 text-info "></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
            <div class="col-4">
                <i class="fa-solid fa-magnifying-glass fa-2xl m-3 text-secondary"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
        </div>

        <div class="row text-white text text-center">
            <div class="col-4">
                <i class="fa-solid fa-magnifying-glass fa-2xl m-3 text-primary"></i>
                <h3>Android</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
            <div class="col-4">
                <i class="fa-brands fa-apple fa-2x m-3 m-3 text-info "></i>
                <h3>Apple</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
            <div class="col-4">
                <i class="fa-solid fa-address-book fa-2xl m-3 text-secondary"></i>
                <h3>Window</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quae!</p>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock content %}
